{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collab</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/messaging.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}" id="logo">Collab</a>
            <div class="search-box" style="visibility: hidden;">
                <img src="{% static 'images/UI/search.png' %}" alt="">
                <input type="text" placeholder="Search" name="" id="">
            </div>
        </div>
        <div class="navbar-center">
            <ul>
                <li><a href="{% url 'home' %}"><img src="{% static 'images/UI/home.png' %}" alt=""><span>Home</span></img></a></li>
                <li><a href="{% url 'my_collab' %}"><img src="{% static 'images/UI/network.png' %}" alt=""><span>My Collab</span></img></a></li>
                <li><a href="{% url 'messaging' %}" class="active-link"><img src="{% static 'images/UI/message.png' %}" alt=""><span>Messaging</span></img></a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="user-settings">
                <div class="dark-light">
                 <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
                </div>
            <div class="online">
                <img src="{{request.user.profile.profile_pic.url}}" class="nav-profile-img" onclick="toggleMenu()">                 
            </div>
        </div>
        <!-- ------------ Profile Drop down Menu --------------->
         <div class="profile-menu-wrap" id="profileMenu">
            <div class="profile-menu">
                <div class="user-info">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="">
                    <div>
                        <h3>{{request.user}}</h3>
                        <a href="{% url 'profile' user %}">See your profile</a>
                    </div>
                </div>
                <hr>
                <a href="{% url 'logout' %}" class="profile-menu-link">
                    <img src="{% static 'images/UI/logout.png' %}" alt="">
                    <p>Logout</p>
                </a>
            </div>
         </div>
    </nav>
    <!-- NAVBAR END -->

    <!-- MESSAGING START -->
    <div class="wrapper">
        <div class="conversation-area">
            {% for message in messages %}
                <a href="{% url 'directs' message.user.username %}">
                    <div class="msg {% if active_direct == message.user.username %}active{% endif %}">
                        <img class="msg-profile" src="{{ message.user.profile.profile_pic.url }}" alt="" />
                        <div class="msg-detail">
                            <div class="msg-username">{{message.user.profile.first_name}}</div>
                            <div class="msg-content">
                                <span class="msg-message">@{{message.user.username}}</span>
                                <!-- <span class="msg-date">20m</span> -->
                           </div>
                        </div>
                    </div>
                </a>
			{% endfor %}
            
            <!-- <button class="add"></button> -->
            <div class="overlay"></div>
        </div>
        
        <div class="chat-area">
         <div class="chat-area-header">
          <div class="chat-area-title">{{user}} (You)</div>
         </div>
         <div class="chat-area-main">
            {% for direct in directs %}
                {% if direct.sender == request.user %}
                    <div class="chat-msg owner">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src="{{ direct.sender.profile.profile_pic.url }}" alt="">
                        <div class="chat-msg-date">Message {{direct.date|date:"d M, Y"}}</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">{{direct.body}}</div>
                    </div>
                    </div>
                {% else %}
                <div class="chat-msg">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src="{{ direct.sender.profile.profile_pic.url }}" alt="">
                        <div class="chat-msg-date">Message {{direct.date|date:"d M, Y"}}</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">{{direct.body}}</div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
         </div>
            <form method="POST" action="{% url 'send-directs' %}" class="chat-area-footer">
                {% csrf_token %}
                <input type="text" name="body" required placeholder="Type something here..." />
                <input type="hidden" name="to_user" id="" value="{{active_direct}}">
                <svg id="submitButton-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m21.426 11.095-17-8A1 1 0 0 0 3.03 4.242l1.212 4.849L12 12l-7.758 2.909-1.212 4.849a.998.998 0 0 0 1.396 1.147l17-8a1 1 0 0 0 0-1.81z"></path></svg>
                <input type="submit" value="" id="submit-button">
            </form>
        </div>
       </div>
      </div>
    <!-- MESSAGING END -->
    
</body>
</html>

<script>
    let profileMenu = document.getElementById("profileMenu");
    function toggleMenu()
    {
        profileMenu.classList.toggle("open-menu");
    }

    const toggleButton = document.querySelector('.dark-light');
    toggleButton.addEventListener('click', () => {
        console.log("lsjdf");
        document.body.classList.toggle('dark-mode');
    });

    document.getElementById("submitButton-svg").addEventListener("click",()=>{
        document.getElementById("submit-button").click();
    })
</script>