{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collab</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}" id="logo">Collab</a>
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="search-box">
                    <img src="{% static 'images/UI/search.png' %}" alt="">
                        <input type="text" placeholder="Explore Skills" name="search" id="">
                        <input type="submit" value="">
                </div>
            </form>
        </div>
        <div class="navbar-center">
            <ul>
                <li><a href="{% url 'home' %}" class="active-link"><img src="{% static 'images/UI/home.png' %}" alt=""><span>Home</span></img></a></li>
                <li><a href="{% url 'my_collab' %}"><img src="{% static 'images/UI/network.png' %}" alt=""><span>My Collab</span></img></a></li>
                <li><a href="{% url 'messaging' %}"><img src="{% static 'images/UI/message.png' %}" alt=""><span>Messaging</span></img></a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="user-settings">
                <div class="dark-light">
                 <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
                </div>
            <div class="online">
                <img src="{{request.user.profile.profile_pic.url}}" class="nav-profile-img" onclick="toggleMenu()">                 
            </div>
        </div>
        <!-- ------------ Profile Drop down Menu --------------->
         <div class="profile-menu-wrap" id="profileMenu">
            <div class="profile-menu">
                <div class="user-info">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="">
                    <div>
                        <h3>{{request.user}}</h3>
                        <a href="{% url 'profile' user %}">See your profile</a>
                    </div>
                </div>
                <hr>
                <a href="{% url 'logout' %}" class="profile-menu-link">
                    <img src="{% static 'images/UI/logout.png' %}" alt="">
                    <p>Logout</p>
                </a>
            </div>
         </div>
    </nav>
    <!-- NAVBAR END -->

    <div class="container">
        <!-- -----------------left-sidebar----------- -->
        <div class="left-sidebar">
            <div class="sidebar-profile-box">
                <div class="sidebar-profile-info">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="">
                    <h1>{{request.user}}</h1>
                    <h3>{{request.user.profile.first_name}}</h3>
                    <h3>{{request.user.profile.bio}}</h3>
                </div>
            </div>

            <div class="sidebar-activity">
                <h3>DEPARTMENT</h3>
                <a href="#"><img src="{% static 'images/UI/recent.png' %}" alt="">{{request.user.profile.department}}</a>
                <h3>SKILLS</h3>
                {% for skill in skills %}
                <a href="#"><img src="{% static 'images/UI/group.png' %}" alt="">{{skill}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- -----------------main-sidebar----------- -->

        <div class="main-content">
            
            <!-- POST-START -->
            {% for post in post_items %}
            <div class="post">
                <div class="post-author">
                    <img src="{{post.user.profile.profile_pic.url}}" alt="">
                    <div class="">
                        <h1>{{post.user.username}}</h1>
                        <small>{{post.user.profile.bio}}</small>
                        <small>{{post.posted|date:"d M Y"}}</small>
                    </div>
                </div>
                <p>{{post.caption}}</p>
                <img src="{{post.picture.url}}" alt="" width="100%">

                <div class="post-stats">
                    <div>
                        <img src="{% static 'images/UI/thumbsup.png' %}" alt="">
                        <img src="{% static 'images/UI/clap.png' %}" alt="">
                        <img src="{% static 'images/UI/love.png' %}" alt="">
                        <span class="liked-users">{{post.likes}}</span>
                    </div>
                    <div>
                        {% for tag in post.tag.all %}
                            <span>#{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="post-activity">
                    <div class="post-activity-link">
                        <a href="{% url 'like' post.id %}" class="likeButton">
                            {% for liked_posts_id in liked_posts_ids %}
                                {% if liked_posts_id.id == post.id %}
                                   <i class="fa-solid fa-heart"></i>        
                                {% endif %}
                            {% endfor %}
                        </a>
                    </div>
                </div>
            </div>
            <!-- POST-END -->
            {% endfor %}
               
       </div>


        <!-- -----------------right-sidebar----------- -->
        <div class="right-sidebar">
            <div class="sidebar-news">
                <img src="{% static 'images/UI/more.png' %}" alt="" class="info-icon">
                <h3>Requests</h3>
                
                {% if received_requests %}
                    {% for received_request in received_requests %}
                        <div id="requests">
                            <p>{{ received_request.sender.username }} sent you a friend request.</p>
                            <div class="requests-button">
                                <form action="{% url 'accept_friend_request' received_request.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" id="accept">Accept</button>
                                </form>
                                <form action="{% url 'decline_friend_request' received_request.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" id="decline">Decline</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <a href="#" class="read-more-link">No More Requests</a>
                {% endif %}
            </div>

            <div class="sidebar-ad">
                <div class="recommendations">
                <h3>Recommendations for you</h3>
                    {% for suggestion in suggestions %}
                        {% if suggestion.first_name != request.user %}
                            <a href="">{{suggestion.first_name}}</a>
                            <span>Your Collab</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- <p>Explore with Collab</p> -->
                <div class="">
                    <img src="{% static 'images/logo-dark.png' %}" alt="">
                </div>
            </div>

            <!-- <div class="copyright-msg">
                <img src="{% static 'images/logo-dark.png' %}" alt="">
                <p>Collab &#169; 2024. All right reserved.</p>
            </div> -->

        </div>
    </div>

<div class="msg">
        {% for message in messages %} 
          <div class="error success">
            <div class="error__icon">
              <i class="fa-solid fa-check-circle"></i>
            </div>
            <div class="error__title">{{message}}</div>
            <div class="error__close"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
          </div>
        {% endfor %}
      </div>
</body>
</html>

<script>
    let profileMenu = document.getElementById("profileMenu");
    function toggleMenu()
    {
        profileMenu.classList.toggle("open-menu");
    }
    const likeButtons = document.querySelectorAll(".likeButton");
    likeButtons.forEach((e)=>{
        if(e.childElementCount == 0)
        {
               e.innerHTML = " <i class='fa-regular fa-heart'></i>"
        }
    });
    const toggleButton = document.querySelector('.dark-light');
    toggleButton.addEventListener('click', () => {
        console.log("lsjdf");
        document.body.classList.toggle('dark-mode');
    });

    // CHANGING SUCCESS BAR TO ALERT
    if(document.querySelector(".error__title").innerHTML.includes("declined"))
    {
        document.querySelector(".error").className = "error";
        document.querySelector(".error__icon i").classList.add("fa-exclamation-triangle");
    }

    // ALERT BOX CLOSING
const CloseButtons = document.querySelectorAll(".error__close");
CloseButtons.forEach((CloseButton) =>
{
    CloseButton.addEventListener("click", ()=> {
        CloseButton.parentElement.style.display = "none";
    })
});
</script>